.navbar{
    background-color: rgb(219, 143, 43);

}
.nav {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   color: white;
  
}
.nav li{
   padding-left: 30px;
}
.nav button{
   margin-left: 20px;
}
.center{
    text-align: center;
    font-size: larger;
    margin-top: 70px;
    
}
#clientdetails{
    margin-bottom: 20px;
    background-image: url("/images/pexels-paul-abel-7427928.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

#submit{
    padding-top: 10px;
    margin-top: 25px;
    margin-bottom: 27px;
    margin-left: 80px;
}

footer{
    background-color: rgb(20, 14, 5);
    display: flex;
    color: white;
    justify-content: space-evenly;
    padding-top: 30px;
}
footer li{
    list-style: none;
}