#clientdetails{
    background-image: url("/images/pexels-paul-abel-7427928.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#submit{
 padding-top: 10px;
 margin-top: 25px;
 margin-bottom: 27px;
 margin-left: 280px;
}

.center{
    text-align: center;
    font-size: larger;
    
}

