body{
    background-image: url("https://media.istockphoto.com/photos/tea-plantationchinese-tea-picture-id660088678?b=1&k=20&m=660088678&s=170667a&w=0&h=34Xp_k9u2m7ORtad_om-T2rwXKzzxDuv653lRPY1GKc=");
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    background-color: rgb(219, 143, 43);

}
.nav {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   color: white;
  
}
.nav li{
   padding-left: 30px;
}
.nav button{
   margin-left: 20px;
}
.container{
    margin-top: 5%;
}
.profile{
     background: rgba(0, 189, 157, 0.561);
     width: 80vw;
     background-position: center;
     margin-bottom: 10%;
} 
.p1{
    font-family: 'Courgette', cursive;
    color: rgb(47, 255, 238);
    font-size: large;

}
.p2{
    font-family: 'Indie Flower', cursive;
    font-size: large;
}
.raine{
    border-radius: 15%;
}

.profile img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    /* margin-left: 40%; */
    
}
@media screen and (min-width:360px)  and (max-width:760px){
    .profile img {
        width: 3rem;
        height: 3rem;
    }
}
.fleex{
    display: flex;
    margin-left: 20%;
}
.farmerDetails{
    color:aquamarine;
    font-size: small;
}
.history{
    
    text-align: center;
}
footer{
    background-color: rgb(20, 14, 5);
    height: 25vh; 
    display: flex;
    color: white;
    justify-content: space-evenly;
    padding-top: 30px;
  }
  footer li{
     list-style: none;
  }