
#sign-page{
    background-image: url(https://images.unsplash.com/photo-1522747776116-64ee03be1dad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-size:cover;
    height: 90vh;
   
}
#sign{
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.671);
    height: 60vh;
}

#sign h5 ,h4,h6{
    margin-top: 5%;
    text-align: center;
   
}
#sign h6{
    margin-top: 5%;
}
#sign h4{
    padding-top: 5%;
}

button{
    margin-top: 5%;

}